h1
{
    padding: 20px;
    background-color:  #026a48;
    color: white; 
    text-align: center;
}

em
{font-size: medium;}
h3
{
    color: #026a48; /* Mexican Green */
    margin-top: 0;
    margin-bottom: 0;
}
h2, h4
{
    color: #a80000; /* Blood */
    margin-top: 0;
    margin-bottom: 0;
}

body 
{
    margin-left: 5%;
    margin-right: 5%;
}

p.default 
{
    color: #000000; /* Black */
    text-align: left; /* Center align text */
}

p.menu
{
    color: #4B0082; /* Dark Purple */
    text-align: center; /* Center align text */
}

.column 
{
    margin-left: 10%;
    float: left;
    width: 30%;
}
  

td.special
{
    text-align: center;
}

table.start
{
    width: 100%;
    /*align-content: center;*/
}

table
{
    width: 100%
}